.head{
  width: 100%;
  height: 8vh;
  background-image: url(../assets/images/banner.jpg);
  //background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.title{
  width: 100%;
  height: 5vh;
  background: aliceblue;
  line-height: 5vh;
  //border-bottom: 2px solid #98a0e0;
  cursor: pointer;
  text-align: center;
 
  .title1,.title2,.title3,.title4{
    text-align: center;
  }
  .titleItem {
    //text-align: center;
  }
  .titlechoose {
    color: #98a0e0;
    //width: 200px;
    padding-bottom: 10px;
    border-bottom: 2px solid #98a0e0;
    font-weight: 600;
    //text-decoration: underline;
    //text-align: center;
  }
  .border {
    width: 100px;
    border: 1px solid #d0d0d0;
    margin-left: 50px;
  }
}

.content{
  width: 100%;
  height: 87vh;
  .left{
  height: 87vh;
  .lup{
    height: 57vh;
  }
    .lupword{
      font-size: 12px;
    }
  .ldown{
    height: 30vh;
  }
  }


  .mid{
    height: 87vh;
    .mup{
      height: 68vh;
    }
    .mdown{
      height: 19vh;
    }
    .fline{
      font-size: 12px;
      margin-bottom: 10px;
      width: 100%;
      padding: 10px 0;
      background: aliceblue;
    }
    .sline{
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .tline{
      font-size: 12px;
    }
  }
  .right{
    height: 87vh;
    .rtitle{
      height: 7vh;
      text-align: center;
      line-height: 7vh;
    }
    .r1{
      height: 20vh;
    }
    .r2{
      height: 20vh;
    }
    .r3{
      height: 20vh;
    }
    .r4{
      height: 20vh;
    }
  }
  .list {
    background-image: url(../assets/images/list.png);
  }
}
:global{
  .ant-table-thead > tr, .ant-table-tbody > tr{
    font-size: 12px;
  }
}
